<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="token" value="trnsl.1.1.20151127T185249Z.3c0c16d0d0d61f18.25eb3a9f98d7e81ed4d291c016612d9f0b76f68d"/>
    <add key="logger" value="jff_log.txt"/>
    <add key="langs" value="https://translate.yandex.net/api/v1.5/tr.json/getLangs?key={0}"/>
    <add key="translate" value="https://translate.yandex.net/api/v1.5/tr.json/translate?key={0}&amp;text={1}&amp;lang={2}"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
